.loginContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brand {
  display: flex;
  padding: 1% 15% 1% 15%;
  margin-bottom: 3%;
  margin-top: 3%;
  background-color: #376e6f;
  border-radius: 0.25rem;
}

.brand h1 {
  font-size: 4em;
  color: white;
}

.form {
  padding: 2%;
  border-radius: 0.25rem;
}

.smallBanner a {
  color: #376e6f;
}

.btn-custom {
  margin-top: 10%;
}
