@import url("https://fonts.googleapis.com/css2?family=Joan&family=Nunito:wght@400&display=swap");
#splash {
  width: 100%;
}
.g-background {
  background-color: #376e6f;
  border-radius: 0% 0% 0% 80px;
  height: 80vh;
}

.card-layer {
  margin-top: -75vh;
  width: 100vw;
  position: absolute;
  z-index: 3;
}

.design-ft {
  position: absolute;
  margin-top: -75vh;
  z-index: 2;
  background-color: #e85a4f;
  height: 90px;
  border-radius: 0% 90px 90px 0%;
}

.splash-card {
  background-color: white;
  aspect-ratio: 16/9;
}

.splash-lettering {
  font-family: "Joan", serif;
  font-size: 30px;
}

.act-stmt {
  font-family: "Nunito", serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

#splash-logo {
  color: white;
  font-family: "Nunito", serif;
  font-size: 28px;
}

#splash-logo svg {
  margin: auto;
}

@media screen and (min-width: 450px) {
  .splash-lettering {
    font-size: 40px;
  }
  .nu-card {
    padding-right: 6%;
    padding-left: 6%;
  }
  .stmt-d {
    padding-right: 6%;
    padding-left: 6%;
  }
}

@media screen and (max-width: 575px) {
  .act-stmt-box {
    margin-top: 12vh;
  }
  .design-ft {
    margin-top: -68vh;
  }
  .card-layer {
    margin-top: -68vh;
  }
}
@media screen and (max-width: 767px) {
  .act-stmt-box {
    margin-top: 10vh;
  }
}

@media screen and (min-width: 575px) {
  .design-ft {
    height: 200px;
    border-radius: 0% 90px 90px 0%;
  }
  .splash-lettering {
    font-size: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .act-stmt {
    font-size: 26px;
  }
  .splash-lettering {
    font-size: 65px;
  }
}
