.flash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.arrows {
  display: flex;
  padding: 1%;
}
.arrow {
  color: #e85a4f;
  height: 4em;
  width: 4em;
  padding: 6%;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1%;
}

.button {
  color: #e85a4f;
  height: 2em;
  width: 2em;
  cursor: pointer;
}
