@import url("https://fonts.googleapis.com/css2?family=Joan&family=Nunito:wght@400&display=swap");

.flash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrows {
  display: flex;
  padding: 1%;
}
.arrow {
  color: #e85a4f;
  height: 9em;
  width: 9em;
  padding: 1%;
  cursor: pointer;
}

.last {
  margin-right: 30%;
}
.next {
  margin-left: 30%;
}

.count {
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  color: #555;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.button {
  color: #e85a4f;
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .button {
    height: 2.8em;
    width: 2.8em;
  }
  .flash {
    margin: 6% 3% 6% 3%;
  }

  .arrow {
    height: 5.5em;
    width: 5.5em;
    padding: 1%;
  }
  .last {
    margin-right: 20%;
  }
  .next {
    margin-left: 20%;
  }
  .modal {
    margin-top: 20%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .button {
    height: 3em;
    width: 3em;
  }
  .flash {
    margin-top: 3.5%;
  }
  .arrow {
    height: 8em;
    width: 8em;
    padding: 1%;
  }
  .last {
    margin-right: 25%;
  }
  .next {
    margin-left: 25%;
  }
  .modal {
    margin-top: 10%;
  }
}
