.setNameContainer {
  display: flex;
  justify-content: flex-start;
}

.cardContainer {
  background-color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.term {
  padding: 2%;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}

.description {
  padding: 2%;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}

/* .buttonCont {
  background-color: white;
  border-radius: 3px;
} */

.addCardButton {
  color: #e85a4f;
}
