@import url("https://fonts.googleapis.com/css2?family=Joan&family=Nunito:wght@400&display=swap");

.accountCont {
  /* background-color: white;
  border-radius: 5px; */
  padding: 2%;
}

.infoRow {
  width: 100%;
}

.userCard {
  background-color: white;
  border-radius: 5px;
  margin: 1%;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.imageCont {
  margin: 10%;
  flex-direction: column;
}

.userND {
  display: block;
  text-align: center;
  margin-top: 5%;
  padding: 15%;
}

#userPicture {
  display: block;
  border-radius: 50%;
  height: 15vh;
  width: auto;
  border: 1px solid lightgrey;
  padding: 5%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.inputCards {
  border: 1px solid lightgrey;
  padding: 5%;
}

.inTop {
  border-radius: 0.25rem 0.25rem 0 0;
}

.inBottom {
  border-radius: 0 0 0.25rem 0.25rem;
}

.inputTitles {
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  color: gray;
  margin: 0;
}

.inputText {
  margin: 0;
}
