@import url("https://fonts.googleapis.com/css2?family=Joan&family=Nunito:wght@400&display=swap");

.accountCont {
  /* background-color: white;
  border-radius: 5px; */
  padding: 2% 6% 2% 6%;
  margin-top: 0;
}

.accountPTitle {
  font-family: "Nunito", sans-serif;
  color: #e85a4f;
  font-size: 150%;
}

.infoRow {
  width: 100%;
  height: auto;
}

.userCard {
  background-color: white;
  margin: 1%;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.imageCont {
  margin: 5%;
  flex-direction: column;
}

.userND {
  display: block;
  text-align: center;
  margin-top: 5%;
  padding: 5%;
  color: var(--bs-gray-dark);
  font-size: 0.8rem;
}

.accTool {
  /* color: gray; */
  cursor: pointer;
}

#userPicture {
  display: block;
  border-radius: 50%;
  height: 18vh;
  width: auto;
  border: 1px solid lightgrey;
  padding: 2%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.inputCards {
  border: 1px solid lightgrey;
  padding: 6%;
}

.inTop {
  border-radius: 0.25rem 0.25rem 0 0;
}

.inBottom {
  border-radius: 0 0 0.25rem 0.25rem;
}

.inputTitles {
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  color: gray;
  margin: 0;
}

.inputText {
  margin: 0;
}

.accountInfoText {
  padding-right: unset;
  flex: 2;
  font-family: "Nunito", sans-serif;
}

.accountLink {
  flex: 1;
  padding-left: unset;
  padding-right: unset;
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  color: #e85a4f;
}

@media screen and (min-width: 576px) {
  .imageCont {
    margin: 6%;
    flex-direction: column;
  }

  .userND {
    display: block;
    text-align: center;
    margin-top: 5%;
    padding: 5%;
    color: var(--bs-gray-dark);
  }

  #userPicture {
    height: 17vh;
    width: auto;
  }

  .userND {
    padding: 10%;
  }
  .inputCards {
    border: 1px solid lightgrey;
    padding: 7%;
  }
  .userCard {
    background-color: white;
    margin: 1%;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    padding: none !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #userPicture {
    height: 17vh;
    width: auto;
  }
}
