.bg-myCustom {
  background-color: #376e6f;
}
.content {
  padding: 12px;
  height: 3000px;
}

.navbar {
  padding-right: 2%;
  padding-left: 2%;
}

.nav-link {
  padding-left: 2% !important;
}

.dropdown-menu {
  margin: 2% !important;
}
